body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f2f2f2;
}

.produk-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.produk {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
}

.produk button {
  margin-top: 10px;
  padding: 8px;
  background: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.keranjang {
  margin-top: 30px;
  background: white;
  padding: 15px;
  border-radius: 8px;
}
.produk img {
  width: 50px;     
  height: 50;     
  border-radius: 8px;
}
